body {
  font-family: Helvetica;
}

div {
  width: 300px;
  margin: auto;
}

p {
  border-top: 2px dashed;
  /* border-color: blue !important; */
  margin: 0;
  padding: 30px;
  counter-increment: section;
  position: relative;
}

p:nth-child(even):before {
  content: counter(section);
  right: 100%;
  margin-right: -20px;
  position: absolute;
  border-radius: 50%;
  padding: 10px;
  height: 20px;
  width: 20px;
  background-color: #171717;
  text-align: center;
  color: white;
  font-size: 110%;
}

p:nth-child(odd):before {
  content: counter(section);
  left: 100%;
  margin-left: -20px;
  position: absolute;
  border-radius: 50%;
  padding: 10px;
  height: 20px;
  width: 20px;
  background-color: #171717;
  text-align: center;
  color: white;
  font-size: 110%;
}

p:nth-child(even) {
  border-left: 2px dashed;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-right: 30px;
  padding-right: 0;
}

p:nth-child(odd) {
  border-right: 2px dashed;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-left: 30px;
  padding-left: 0;
}

p:first-child {
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

p:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.fazlalik {
  width: 100%;
  background: #c31717;
  color: #fff;
  padding: 15px 0px;
  text-align: center;
  margin-bottom: 30px;
  border-radius: 5px;
}

.agillar {
  border-bottom: 2px dashed #333;
}

.agil-form {
  display: block;
  padding: 5px 0px 0px;
  margin-bottom: 45px;
  border: 1px solid #3333334d;
  border-radius: 5px;
  overflow: hidden;
}

.agil-form .form-item {
  border-bottom: 2px solid #3333334d;
  padding: 20px 10px;
}

.agil-form .form-item input {
  float: right;
  width: 40%;
  border: none;
  background-color: #eaeaea;
  display: block;
  height: 40px;
  margin: -12px 25px 0 0;
  color: #000;
  text-align: center;
  font-size: 15px;
}

.agil-form .form-item label {
  font-size: 16px;
}

.agil-form button {
  display: block;
  width: 100%;
  height: 50px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  border: 5px solid #fff;
  border-radius: 10px;
  cursor: pointer;
}
